{% extends "base.html" %}

{% block page_content %}
<div class="col-md-12">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message  }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <div class="col-md-6">
        <h2>v2Ex 最新热帖</h2>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>文章</th>
            </tr>
            </thead>
            <tbody>
            {% for i in v2ex %}
                <tr>
                    <td> #</td>
                    <td>
                        <a href={{ i['url'] }}>{{ i['title'] }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div>
            <h2>cnBeta</h2>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>文章</th>
            </tr>
            </thead>
            <tbody>
            {% for i in cnbeta %}
                <tr>
                    <td> #</td>
                    <td>
                        <a href={{ i['url'] }}>{{ i['title'] }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
